@import "../../assets/styles/custom.scss";

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-text-container {
    padding: 40px 10px 40px 10px;
}