@import "../../assets/styles/custom.scss";

// #home-main {
//     background-color: $second;
//     background-image: url("images/homepage-main.jpg");
//     background-size: cover;
//     background-position: center;
// }

body {
    background-color: $second;
    background-image: url("images/homepage-main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home-text-container {
    padding: 60px 10px 60px 10px;
}