@import "../../assets/styles/custom.scss";
#cart-icon {
    height: 30px;
    width: 30px;
}

#fish-icon {
    height: 40px;
    width: 40px;
}

.dropdown-menu {
    border-radius: 0px!important;
    border: 0px!important;
    padding: 0px!important;
    margin: 0px!important;
}

.dropdown-item {
    margin-bottom: 4px;
}

.dropdown-item:active {
    background-color: rgba(255, 255, 255, 0.15);
}

#offcanvasNavbar-expand-md {
    width: 60%;
}

