#home-main {
    background-color: $second;
    background-image: url("../images/homepage-main.jpg");
    background-size: cover;
    background-position: center;
    height: 60vh;
}

#home-main-text-container {
    padding: 40px 10px 40px 10px;
}