@import "custom.scss";
#cart-icon {
    height: 30px;
    width: 30px;
}

#fish-icon {
    height: 40px;
    width: 40px;
}

.dropdown-menu {
    background-color: $first;
    border: none;
}

.dropdown-item:active {
    background-color: rgba(255, 255, 255, 0.15);
}

